<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->

  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false"/>
  </system.webServer>
  <connectionStrings>
    <add name="VTSDatabase" connectionString="metadata=res://*/VtsDataModel.csdl|res://*/VtsDataModel.ssdl|res://*/VtsDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=lnzr0fzklo.database.windows.net;initial catalog=VTS2;persist security info=True;user id=vtsautomonitoring;password=primary1datastore#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
