<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="VTS Rules" Description="These rules focus on the most critical problems in your code, including potential security holes, application crashes, and other important logic and design errors. It is recommended to include this rule set in any custom rule set you create for your projects." ToolsVersion="10.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1804" Action="Error" />
	<Rule Id="CA1047" Action="Error" />
	<Rule Id="CA1001" Action="Warning" />
	<Rule Id="CA1811" Action="Error" />
	<!--Rule Id="CA1007" Action="Warning" />
    <Rule Id="CA1012" Action="Warning" />
    <Rule Id="CA1016" Action="Warning" />
    <Rule Id="CA1018" Action="Warning" />
    <Rule Id="CA1019" Action="Warning" />
    <Rule Id="CA1020" Action="Warning" />
    <Rule Id="CA1021" Action="Warning" />
    <Rule Id="CA1024" Action="Warning" />
    <Rule Id="CA1025" Action="Warning" />
    <Rule Id="CA1030" Action="Warning" />
    <Rule Id="CA1039" Action="Warning" />
    <Rule Id="CA1040" Action="Warning" />
    <Rule Id="CA1044" Action="Warning" />
    <Rule Id="CA1048" Action="Warning" />
    <Rule Id="CA1050" Action="Warning" />
    <Rule Id="CA1400" Action="Warning" />
    <Rule Id="CA1415" Action="Warning" />
    <Rule Id="CA1502" Action="Warning" />
    <Rule Id="CA1700" Action="Warning" />
    <Rule Id="CA1719" Action="Warning" />
    <Rule Id="CA1720" Action="Warning" />
    <Rule Id="CA1721" Action="Warning" />
    <Rule Id="CA1800" Action="Warning" />
    <Rule Id="CA1801" Action="Warning" />
    <Rule Id="CA1802" Action="Warning" />
    <Rule Id="CA1809" Action="Warning" />
    <Rule Id="CA1811" Action="Warning" />
    <Rule Id="CA1812" Action="Warning" />
    <Rule Id="CA1813" Action="Warning" />
    <Rule Id="CA1815" Action="Warning" />
    <Rule Id="CA1820" Action="Warning" />
    <Rule Id="CA1821" Action="Warning" />
    <Rule Id="CA1823" Action="Warning" />
    <Rule Id="CA1901" Action="Warning" />
    <Rule Id="CA2001" Action="Warning" />
    <Rule Id="CA2118" Action="Warning" />
    <Rule Id="CA2200" Action="Warning" />
    <Rule Id="CA2201" Action="Warning" />
    <Rule Id="CA2205" Action="Warning" />
    <Rule Id="CA2208" Action="Warning" />
    <Rule Id="CA2210" Action="Warning" />
    <Rule Id="CA2218" Action="Warning" />
    <Rule Id="CA2224" Action="Warning" />
    <Rule Id="CA2243" Action="Warning" />
    <Rule Id="TV1001" Action="Warning" />
    <Rule Id="TV1002" Action="Warning" />
    <Rule Id="TV1003" Action="Warning" />
    <Rule Id="TV1004" Action="Warning" />
    <Rule Id="TV1005" Action="Warning" />
    <Rule Id="TV1101" Action="Warning" />
    <Rule Id="TV1102" Action="Warning" />
    <Rule Id="TV1103" Action="Warning" />
    <Rule Id="TV1104" Action="Warning" />
    <Rule Id="TV1105" Action="Warning" />
    <Rule Id="TV1106" Action="Warning" />
    <Rule Id="TV1107" Action="Warning" />
    <Rule Id="TV1108" Action="Warning" />
    <Rule Id="TV1109" Action="Warning" />
    <Rule Id="TV1110" Action="Warning" /-->
  </Rules>
</RuleSet>