<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="LogPath" value="C:\tmp\agent.log"/>
    <add key="DataStorageDirectory" value="C:\tmp"/>
    <add key="NetworkOperationsForbidden" value="False"/>
    <add key="DebugMode" value="False"/>
  </appSettings>
  <log4net>
    <logger name="VTSAgentLogger">
      <level value="INFO"/>
    </logger>
    <appender 
      name="RollingLogFileAppender" 
      type="Agent.Logging.RollingFileAppender">
      <param name="file" value="" />
      <param name="appendToFile" value="true" />
      <param name="rollingStyle" value="Size" />
      <param name="maxSizeRollBackups" value="10" />
      <param name="maximumFileSize" value="10MB" />
      <param name="staticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %m%n" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding 
          maxBufferPoolSize="66665536"
             maxReceivedMessageSize="66665536"
             maxBufferSize="66665536"
          name="BasicHttpBinding_IVtsWebService" />
        <binding 
          maxBufferPoolSize="66665536"
             maxReceivedMessageSize="66665536"
             maxBufferSize="66665536"
          name="BasicHttpsBinding_IVtsWebService">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://vtswebservice.azurewebsites.net/VtsWebService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVtsWebService"
          contract="VtsWebService.IVtsWebService" name="BasicHttpBinding_IVtsWebService" />
<!--      <endpoint address="http://localhost:8001/VtsWebService"-->
<!--                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVtsWebService"-->
<!--          contract="VtsWebService.IVtsWebService" name="BasicHttpBinding_IVtsWebService" />-->
    </client>
  </system.serviceModel>
</configuration>
