<?xml version="1.0" encoding="UTF-8"?>
<?include Variables.wxi?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="$(var.ProductName)" >
          <Directory Id="LANGFOLDERBE" Name="be" />
          <Directory Id="LANGFOLDERRU" Name="ru" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.ProductName)">
        </Directory>
      </Directory>
    </Directory>
  </Fragment>
</Wix>