<?xml version="1.0" encoding="UTF-8"?>
<?include Variables.wxi?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="$(var.ProductCode)"
    Name="$(var.ProductName)"
    Language="1049"
    Version="$(var.ProductVersion)"
    Manufacturer="$(var.Manufacturer)"
    UpgradeCode="$(var.UpgradeCode)">
    <Package 
      InstallerVersion="200" 
      Compressed="yes" 
      InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of Application is already installed." />
    <MediaTemplate EmbedCab="yes"/>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" ></Property>
    <WixVariable Id="WixUILicenseRtf" Overridable="yes" Value="License.rtf"/>
    <UIRef Id="WixUI_InstallDir"/>

    <PropertyRef Id="NETFRAMEWORK40FULL" />
    <Condition Message='This setup requires Microsoft .NET Framework 4.0 Full package or greater needs to be installed for this installation to continue.'>
      <![CDATA[Installed OR NETFRAMEWORK40FULL]]>
    </Condition>

    <Feature Id="ProductFeature" Title="VTS Agent Installer" Level="1">
      <ComponentRef Id="ProductComponent" />
      <ComponentRef Id="LOCALIZATIONBE"/>
      <ComponentRef Id="LOCALIZATIONRU"/>
      <ComponentRef Id="VTSAgentApplicationShortcut"/>
    </Feature>
  </Product>
</Wix>