<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IVtsWebService" />
                <binding name="BasicHttpsBinding_IVtsWebService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://vtswebservice.azurewebsites.net/VtsWebService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVtsWebService"
                contract="Service.IVtsWebService" name="BasicHttpBinding_IVtsWebService" />
            <endpoint address="https://vtswebservice.azurewebsites.net/VtsWebService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IVtsWebService"
                contract="Service.IVtsWebService" name="BasicHttpsBinding_IVtsWebService" />
        </client>
    </system.serviceModel>
</configuration>