<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <!--add name="VTS" connectionString="metadata=res://*/VtsDataModel.csdl|res://*/VtsDataModel.ssdl|res://*/VtsDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=lnzr0fzklo.database.windows.net;initial catalog=VTS;persist security info=True;user id=vtsautomonitoring;password=primary1datastore#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /-->
    <add name="VTSDatabase" connectionString="metadata=res://*/VtsDataModel.csdl|res://*/VtsDataModel.ssdl|res://*/VtsDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=lnzr0fzklo.database.windows.net;initial catalog=VTS2;persist security info=True;user id=vtsautomonitoring;password=primary1datastore#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--add name="VTSDatabase" connectionString="metadata=res://*/VtsDataModel.csdl|res://*/VtsDataModel.ssdl|res://*/VtsDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=VTS;Trusted_Connection=Yes;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /-->
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IVtsWebService" />
        <binding name="BasicHttpsBinding_IVtsWebService">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://vtswebservice.azurewebsites.net/VtsWebService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVtsWebService"
        contract="serv.IVtsWebService" name="BasicHttpBinding_IVtsWebService" />
    </client>
  </system.serviceModel>
</configuration>