@model Html.Models.SystemNewsViewModel

@{
    ViewBag.Title = "VTS Site Management console - Create new News item";
}


<div class="root-element">
    @using (Html.BeginForm())
    {
        @Html.EditorForModel(Model)
        <input type="submit" value="Save" />
    }
</div>